.row.peritonitis-form
  .large-12.columns

    = p.hidden_field :id

    = p.hidden_field :patient_id

    .row
      .large-12.columns
        .section-underliner
          Dates:

        .large-4.columns
          = p.label :diagnosis_date
          = p.date_select(:diagnosis_date, { start_year: (1.year.ago).year, end_year: (1.year.since).year, order: [:day, :month, :year] }, class: "datetime")

        .large-4.columns
          = p.label :treatment_start_date
          = p.date_select(:treatment_start_date, { start_year: (1.year.ago).year, end_year: (1.year.since).year, order: [:day, :month, :year] }, class: "datetime")

        .large-4.columns
          = p.label :treatment_end_date
          = p.date_select(:treatment_end_date, { start_year: (1.year.ago).year, end_year: (1.year.since).year, order: [:day, :month, :year], include_blank: true }, class: "datetime")

    .row
      .large-12.columns
        .section-underliner
          Outcome:

        .large-12.columns
          = p.label :episode_type_id
          = p.collection_select :episode_type_id, EpisodeType.all, :id, :term, { :prompt => "Please select episode type" }, :class => "episode-type_select"

        .large-12.columns
          = p.check_box :catheter_removed
          = p.label :catheter_removed

      .large-12.columns
        .section-underliner
          Organisms and their sensitivities for this peritonitis episode:

        = render :partial => 'peritonitis_episodes/organism_forms', :locals => { :p => p }

    .row
      .large-12.columns
        .section-underliner
          Causes/Symptoms:

        .large-12.columns
          = p.check_box :line_break
          = p.label :line_break

          = p.check_box :exit_site_infection
          = p.label :exit_site_infection

          = p.check_box :diarrhoea
          = p.label :diarrhoea

          = p.check_box :abdominal_pain
          = p.label :abdominal_pain

        .large-12.columns
          = p.label :fluid_description_id
          = p.collection_select :fluid_description_id, FluidDescription.all, :id, :description, { prompt: "Please select description that best describes fluid" }, :class => "episode-type_select"

    .row
      .large-12.columns
        .section-underliner
          White Cell Count:

        .large-4.columns
          = p.label :white_cell_total, "White Cell Total (x10\u2079)"
          = p.text_field :white_cell_total
        .large-2.columns
          = p.label :white_cell_neutro, "Neutro (%)"
          = p.text_field :white_cell_neutro
        .large-2.columns
          = p.label :white_cell_lympho, "Lympho (%)"
          = p.text_field :white_cell_lympho
        .large-2.columns
          = p.label :white_cell_degen, "Degen (%)"
          = p.text_field :white_cell_degen
        .large-2.columns
          = p.label :white_cell_other, "Other (%)"
          = p.text_field :white_cell_other

    .row
      .large-12.columns
        .section-underliner
          Comments:

        .large-12.columns
          = p.label :notes, "Episode notes"
          = p.text_area :notes, :cols => 50, :rows => 6

    .row
      .large-12.columns
        .section-underliner
          Medications administered for this peritonitis episode:

        = render :partial => 'peritonitis_episodes/medication_forms', :locals => { :p => p }
