.row.peritonitis-form
  .large-12.columns
  
    = p.hidden_field :id

    = p.hidden_field :patient_id

    = p.label :user_id
    = p.text_field :user_id
 
    .row       
      .large-12.columns
        .form-section 
          Dates:
            
        .large-4.columns
          = p.label :diagnosis_date
          = p.date_select(:diagnosis_date, {start_year: (120.years.ago).year, end_year: Time.now.year, order: [:day, :month, :year]}, class: "datetime")     

        .large-4.columns
          = p.label :start_treatment_date
          = p.date_select(:start_treatment_date, {start_year: (120.years.ago).year, end_year: Time.now.year, order: [:day, :month, :year]}, class: "datetime")
        .large-4.columns
          = p.label :end_treatment_date
          = p.date_select(:end_treatment_date, {start_year: (120.years.ago).year, end_year: Time.now.year, order: [:day, :month, :year]}, class: "datetime")
    
    .row        
      .large-12.columns
        .form-section 
          Outcome:

        .large-6.columns
          = p.label :organism_1_id
          = p.collection_select :organism_1_id, OrganismCode.all, :id, :name, { :prompt => "Please select organism found", include_blank: true, :class => "organism-select" }
        .large-6.columns
          = p.label :organism_2_id
          = p.collection_select :organism_2_id, OrganismCode.all, :id, :name, { :prompt => "Please select organism found", include_blank: true, :class => "organism-select" }
          
        .large-12.columns
          = p.label :episode_type_id
          = p.text_field :episode_type_id
     
        .large-12.columns 
          = p.check_box :catheter_removed
          = p.label :catheter_removed
              
    .row        
      .large-12.columns
        .form-section 
          Causes/Symptoms:
      
        .large-12.columns 
          = p.check_box :line_break
          = p.label :line_break

          = p.check_box :exit_site_infection
          = p.label :exit_site_infection

          = p.check_box :diarrhoea
          = p.label :diarrhoea

          = p.check_box :abdominal_pain
          = p.label :abdominal_pain
        
        .large-12.columns     
          = p.label :fluid_description_id
          = p.text_field :fluid_description_id

    .row        
      .large-12.columns
        .form-section 
          White Cell Count:    

        .large-4.columns
          = p.label :white_cell_total
          = p.text_field :white_cell_total
        .large-2.columns
          = p.label :white_cell_neutro, "Neutro (%)"
          = p.text_field :white_cell_neutro
        .large-2.columns
          = p.label :white_cell_lympho, "Lympho (%)"
          = p.text_field :white_cell_lympho
        .large-2.columns
          = p.label :white_cell_degen, "Degen (%)"
          = p.text_field :white_cell_degen
        .large-2.columns
          = p.label :white_cell_other, "Other (%)"
          = p.text_field :white_cell_other

    .row        
      .large-12.columns
        .form-section 
          Comments:    
    
        .large-6.columns
          = p.label :notes
          = p.text_area :notes, :cols => 50, :rows => 6
        
        .large-6.columns
          = p.label :sensitivities, "Sensitivities (Antibiotics)"
          = p.text_area :sensitivities, :cols => 50, :rows => 6


    .row        
      .large-12.columns
        .form-section 
          Prescribed Antibiotics:  
        
        .large-6.columns
          = p.label :antibiotic_1_id
          = p.collection_select :antibiotic_1_id, Antibiotic.all, :id, :name, { :prompt => "Please select prescribed antibiotic" }

        .large-6.columns
          = p.label :antibiotic_1_route, "Route (Antibiotic 1)"
          = p.select :antibiotic_1_route, medication_routes(p.object.class.name.constantize), { prompt: "Please select route of administration" } 
        
        .large-6.columns  
          = p.label :antibiotic_2_id
          = p.collection_select :antibiotic_2_id, Antibiotic.all, :id, :name, { :prompt => "Please select prescribed antibiotic" }

        .large-6.columns
          = p.label :antibiotic_2_route, "Route (Antibiotic 2)"
          = p.select :antibiotic_2_route, medication_routes(p.object.class.name.constantize), { prompt: "Please select route of administration" } 
        
        .large-6.columns 
          = p.label :antibiotic_3_id
          = p.collection_select :antibiotic_3_id, Antibiotic.all, :id, :name, { :prompt => "Please select prescribed antibiotic" }

        .large-6.columns 
          = p.label :antibiotic_3_route, "Route (Antibiotic 3)"
          = p.select :antibiotic_3_route, medication_routes(p.object.class.name.constantize), { prompt: "Please select route of administration" } 
        
        .large-6.columns 
          = p.label :antibiotic_4_id
          = p.collection_select :antibiotic_4_id, Antibiotic.all, :id, :name, { :prompt => "Please select prescribed antibiotic" }

        .large-6.columns 
          = p.label :antibiotic_4_route, "Route (Antibiotic 4)"
          = p.select :antibiotic_4_route, medication_routes(p.object.class.name.constantize), { prompt: "Please select route of administration" } 
        
        .large-6.columns
          = p.label :antibiotic_5_id
          = p.collection_select :antibiotic_5_id, Antibiotic.all, :id, :name, { :prompt => "Please select prescribed antibiotic" }

        .large-6.columns
          = p.label :antibiotic_5_route, "Route (Antibiotic 5)"
          = p.select :antibiotic_5_route, medication_routes(p.object.class.name.constantize), { prompt: "Please select route of administration" } 