.wide-screen
  .columns.large-12
    = render partial: "patients/patient_info_header", locals: { model: @patient }
    = render partial: "patients/mini_renal_profile", locals: { model: @patient }

.row
  %h5 Update a Peritonitis Episode

.row
  .large-12.columns
    = form_for [@patient, @peritonitis_episode], :method => :put do |p|

      = field_set_tag do
        .row
          = render partial: "peritonitis_episodes/form", locals: { p: p }

        .row.button-padding
          = submit_tag "Update Peritonitis Episode", class: "button tiny right save"

          = link_to "Cancel", patient_exit_site_infection_path(@patient, @peritonitis_episode.id), class: "button tiny left cancel"

.wide-screen
  = content_for :secondary_nav do
    = render partial: "patients/clin_sum_sub_nav", locals: { model: @patient }

