.wide-screen
  .columns.large-12
    = render partial: "patients/patient_info_header", locals: { model: @patient }
    = render partial: "patients/mini_renal_profile", locals: { model: @patient }

    %h5 Update a Peritonitis Episode

    .row
      = render partial: "shared/errors", locals: { model: @peritonitis_episode }

.row
  .large-12.columns
    = nested_form_for [@patient, @peritonitis_episode], :method => :put do |pe|

      = field_set_tag do
        .row
          = render partial: "peritonitis_episodes/form", locals: { pe: pe }

        .row.button-padding
          = submit_tag "Update Peritonitis Episode", class: "button tiny right save"

          = link_to "Cancel", patient_peritonitis_episode_path(@patient, @peritonitis_episode.id), class: "button tiny left cancel"
