.wide-screen
  .columns.large-12
    = render partial: "patients/patient_info_header", locals: { model: @patient }
    = render partial: "patients/mini_renal_profile", locals: { model: @patient }
    %h5
      = "Peritonitis Episode Details - Diagnosed: #{@peritonitis_episode.diagnosis_date.strftime("%d/%m/%Y")}"

.row
  .large-12.columns
    = field_set_tag do
      %legend.title-bold
        = "Last Updated: #{@peritonitis_episode.updated_at}"

      .large-6.columns
        .large-12.columns
          %dl
            %dt.title-bold
              Treatment Start Date:
            %dd
              = @peritonitis_episode.treatment_start_date
            %dt.title-bold
              Treatment End Date:
            %dd
              = default_for_blank(@peritonitis_episode.treatment_end_date, "Pending")

        .row
          .large-12.columns
            .section-underliner.title-bold
              Outcome:

            .large-12.columns
              %ul
                %li
                  Episode Type:
                  = default_for_associated(@peritonitis_episode.episode_type, :term, "Unknown")
                %li
                  = "Catheter Removed: #{yes_no(@peritonitis_episode.catheter_removed)}"

          .large-12.columns
            .section-underliner.title-bold
              Organisms/Sensitivity:

            .large-12.columns
              %ul.table-data-list
                = organisms_and_sensitivities(@peritonitis_episode.infection_organisms)

          .large-12.columns
            .section-underliner.title-bold
              White Cell Count:

            .large-12.columns
              %ul
                %li
                  = "Total: #{@peritonitis_episode.white_cell_total}"
                %li
                  = "Neutro: #{@peritonitis_episode.white_cell_neutro}%"
                %li
                  = "Lympho: #{@peritonitis_episode.white_cell_lympho}%"
                %li
                  = "Degen: #{@peritonitis_episode.white_cell_degen}%"
                %li
                  = "Other: #{@peritonitis_episode.white_cell_other}%"

      .large-6.columns
        .row
          .large-12.columns
            .section-underliner.title-bold
              Causes/Symptoms:

            .large-12.columns
              %ul.table-data-list
                %li
                  = "Line Break: #{yes_no(@peritonitis_episode.line_break)}"
                %li
                  = "Exit Site Infection: #{yes_no(@peritonitis_episode.exit_site_infection)}"
                %li
                  = "Diarrhoea: #{yes_no(@peritonitis_episode.diarrhoea)}"
                %li
                  = "Abdominal Pain: #{yes_no(@peritonitis_episode.abdominal_pain)}"
                %li
                  = "Fluid Description: #{@peritonitis_episode.fluid_description}"
        .row
          .large-12.columns
            .section-underliner.title-bold
              Antibiotics/Routes:
            .large-12.columns
              %ul.table-data-list
                = medication_and_route(@peritonitis_episode.medications)
          .large-12.columns
            .section-underliner.title-bold
              Peritonitis Episode Notes:

            %p
              = @peritonitis_episode.notes

      .large-12.columns.button-padding
        = link_to "Edit", edit_patient_peritonitis_episode_path(@patient, @peritonitis_episode.id), class: "tiny button right"
        = link_to "Back", pd_info_patient_path(@patient), class: "button tiny left cancel"
