.row
  %h5 Edit a Drug

= render partial: "shared/errors", locals: { model: @drug }

.row
  .large-6.columns
    = form_for @drug, :as => :drug, :method => :put, :url => drug_path(@drug) do |f|
      %ul.no-bullet

        = render partial: "drugs/form", locals: { f: f }

        = submit_tag "Update Drug", class: "button tiny right"

        = link_to "Cancel", drugs_path, class: "button tiny left"
