%h1 Existing Drugs List

.row
  .small-12.large-6.columns
    %ul.no-bullet.stripy-list
      - @drugs.each do |t|
        %li.row
          .small-4.large-8.columns
            = t.name
          .small-4.large-2.columns
            = link_to "Edit", edit_drug_path(t.id)
          .small-4.large-2.columns
            = link_to "Delete", drug_path(t.id), id: "#{t.id}-drug", method: :delete, data: { confirm: "Are you sure you want to delete this drug?" }


  .small-12.large-6.columns
    = link_to "Add a New Drug", new_drug_path, :class => "button tiny"