%h1 Existing Drugs List

- @drugs.each do |t|

  %ul.no-bullet
    %li
      = t.name
      Type: #{t.display_type}
      = link_to "Edit", edit_drug_path(t.id)

= content_for :secondary_nav do
  %li
    = link_to "Add a New Drug", new_drug_path

