.row
  %h4 Existing Drugs List

.row  
  = link_to "Add New Drug", new_drug_path, :class => "button tiny"

.row 
    
  .small-12.large-6.columns.find-drug-list.left 
    = label_tag :drug_search, "Drug"
    = text_field_tag :drug_search, nil, :class => "find_drug", :placeholder => "Search drug by name or type"
  

    %ul.no-bullet.stripy-list.drug-results-admin

  
  .small-12.large-6.columns.right
    %ul.no-bullet.stripy-list
      - @drugs.each do |t|
        %li.row
          .small-4.large-4.columns
            = t.type
          .small-4.large-4.columns
            = t.name
          .small-4.large-2.columns
            = link_to "Edit", edit_drug_path(t.id)
          .small-4.large-2.columns
            = link_to "Delete", drug_path(t.id), id: "#{t.id}-drug", method: :delete, :class => "delete", data: { confirm: "Are you sure you want to delete this drug?"} 


