%h5 Add a New Drug

.row 
  = render partial: "shared/errors", locals: { model: @drug }

.row
  .large-6.columns
    = form_for @drug, :method => :post, :url => drugs_path(@drug) do |f|
      %ul.no-bullet
        = render partial: "drugs/form", locals: { f: f }   

        = submit_tag "Save New Drug", class: "button tiny right"

        %li= link_to "Cancel", drugs_path, :class => "button tiny"