.row
  %h4 All Patient Event Types

.row
  = link_to "Add New Patient Event Type", new_patient_event_type_path, :class => "button tiny"

.row
  .small-12.large-6.columns
    %ul.no-bullet.stripy-list
      - @patient_event_types.each do |t|
        %li.row
          .small-4.large-8.columns
            = t.name
          .small-4.large-2.columns
            = link_to "Edit", edit_patient_event_type_path(t.id)
          .small-4.large-2.columns
            = link_to "Delete", patient_event_type_path(t.id), id: "#{t.id}-pet", method: :delete, :class => "delete", data: {confirm: "Are you sure you want to delete this option?" }

  