%h1 Add a New Patient Event Type

.row
  = render partial: "shared/errors", locals: { model: @patient_event_type }

.large-6.columns
  %ul.no-bullet

    = form_for @patient_event_type, :method => :post do |f|
      %fieldset
        = render :partial => 'form', :locals => {:f => f}

        = submit_tag "Save", class: "button tiny right"


= content_for :secondary_nav do
  %dd
    = link_to "Patient Event Types", patient_event_types_path


