.row
  %h4 Add New Patient Event Type

.row
  = render partial: "shared/errors", locals: { model: @patient_event_type }

.row
  .large-6.columns
    %ul.no-bullet

      = form_for @patient_event_type, :method => :post do |f|
        
        = render :partial => 'form', :locals => {:f => f}

        = submit_tag "Save", class: "button tiny right"

        %li= link_to "Cancel", patient_event_types_path, :class => "button tiny"

