%dl.accordion{data: {accordion: true} }

  %dd.accordion-navigation.med-form

    %a.fi-plus.fi-minus{href: "#edit-meds-#{pm.object.id}", class: "drug-#{drug_types_colour_tag(pm.object.medicatable.drug_types)}"}

      = "#{pm.object.medicatable.name}, #{pm.object.dose}, #{pm.object.medication_route.name}, #{pm.object.frequency}, #{pm.object.start_date}"
      .right.edit
        Edit

    .columns.large-6.meds-form.content{id: "edit-meds-#{pm.object.id}", data: { index: 0 }}

      = render partial: 'medications/fields', locals: { pm: pm }

      .med-form.content{:id => "edit-meds-#{pm.object.id}"}
        = pm.check_box :_destroy
        = pm.label :_destroy, 'Terminate?', class: 'delete'
