%dl.accordion
  %dd.accordion-navigation.med-form
    %span{class: "drug-#{drug_types_colour_tag(pm.object.medicatable.drug_types)}"}
      = "#{pm.object.medicatable.name}, #{pm.object.dose}, #{pm.object.medication_route.name}, #{pm.object.frequency}, #{pm.object.date}"
