%nav.top-bar(data-topbar role = "navigation")
  %ul.title-area
    %li.name.has-dropdown.active
      %h1
        = link_to "Renalwarev2", patients_path, :title => "Home"

  %section.top-bar-section
    - if @patient && @patient.persisted?
      %ul.left
        %li.has-dropdown.active
          = link_to "#{@patient.full_name}", clinical_summary_patient_path(@patient), :title => "Clinical Summary"
          %ul.dropdown
            %li
              = link_to "New Letter", "#"
            %li
              = link_to "Manage Problems", problems_patient_path(@patient)
            %li
              = link_to "Manage Medications", manage_medications_patient_path(@patient)
            %li
              = link_to "Add Patient Event", new_patient_patient_event_path(@patient)

    %ul.left
      %li.has-form
        = search_form_for @patient_search do |f|
          .row.collapse
            .large-8.small-9.columns
              = label_tag :forename_or_surname_or_local_patient_id_or_nhs_number_cont, "Patient Search" do
                = f.search_field :forename_or_surname_or_local_patient_id_or_nhs_number_cont,
                  :id => 'patient_search_input',
                  :placeholder => "Patient Name, Local Patient ID or NHS No."
            .large-4.small-3.columns
              = f.submit "Find!", :title => "Find Patient", :class => "nav-search button tiny"

    %ul.right.large-2.columns
      %li.has-dropdown
        = link_to "Code Ref", "#"
        %ul.dropdown
          %li
            = link_to "Renal Registry Reason for Change Codes", modality_reasons_path

    %ul.right.large-2.columns
      %li.has-dropdown
        = link_to "Patients", patients_path
        %ul.dropdown
          %li
            = link_to "All Patients", patients_path
          %li
            = link_to "Add a New Patient", new_patient_path
          %li
            = link_to "Deceased Patients", death_patients_path

      %li.has-dropdown
        = link_to "Admin", patients_path
        %ul.dropdown
          %li
            = link_to "Manage Patient Event Types", patient_event_types_path
          %li
            = link_to "Manage Drugs", drugs_path
          %li
            = link_to "Manage Modalities", modality_codes_path


