.large-12.columns
  .section-underliner
    Additional exchanges:

  .large-12.columns
    = r.label :last_fill_ml, 'Last Fill (ml)'
    = r.text_field :last_fill_ml

    = r.check_box :add_manual_exchange
    = r.label :add_manual_exchange, 'Additional manual exchange'

.large-12.columns
  .section-underliner
    Tidal:

  .large-12.columns
    = r.check_box :tidal_indicator
    = r.label :tidal_indicator, 'Has tidal?'

    = r.label :tidal_percentage, 'Tidal (%)'
    / = r.text_field :tidal_percentage
    = r.select :tidal_percentage, tidal_options, { :prompt => "Please select from options" }, :class => "pd-regime-treament-select"

.large-12.columns
  .section-underliner
    Additional APD Info:

  .large-12.columns
    = r.label :no_cycles_per_apd, 'Number of cycles per APD session'
    = r.text_field :no_cycles_per_apd

  .large-12.columns
    = r.label :overnight_pd_ml, 'Overnight PD volume on APD (ml)'
    = r.text_field :overnight_pd_ml





