%fieldset.current-regime
  %legend.title-bod Current PD Regime

  .large-6.columns
    %ul.no-bullet
      %li
        %b Regime Start Date:
        = @current_regime.start_date
        &nbsp;&nbsp;
        %b Regime End Date:
        = default_for_blank(@current_regime.end_date, 'Pending')

      %li
        %b Treatment:
        = @current_regime.treatment

      %li
        %b Bags:
        %ul{ style: 'list-style-type: disc' }
          = pd_regime_bags(@current_regime.pd_regime_bags)

      %li
        %b On additional HD:
        = yes_no(@current_regime.add_hd)

      %li
        %b Average Daily Glucose:

        %ul
          %li
            %b 1.36%:
            = "#{ default_daily_glucose_average(@current_regime.glucose_ml_percent_1_36) } ml"

          %li
            %b 2.27%:
            = "#{ default_daily_glucose_average(@current_regime.glucose_ml_percent_2_27) } ml"

          %li
            %b 3.86%:
            = "#{ default_daily_glucose_average(@current_regime.glucose_ml_percent_3_86) } ml"

  .large-6.columns
    - if @current_regime.type == 'ApdRegime'
      = render partial: 'pd_regimes/current_apd_regime', locals: { model: @current_regime }
