%fieldset.current-regime
  %legend.title-bod Current PD Regime

  - @current_regime.each do |current|

    .large-6.columns
      %ul.no-bullet
        %li
          %b Regime Start Date:
          = current.start_date
          &nbsp;&nbsp;
          %b Regime End Date:
          = default_for_blank(current.end_date, 'Pending')

        %li
          %b Treatment:
          = current.treatment

        %li
          %b Bags:
          %ul{ style: 'list-style-type: disc' }
            = pd_regime_bags(current.pd_regime_bags)

        %li
          %b On additional HD:
          = yes_no(current.add_hd)

    .large-6.columns
      - if current.type == 'ApdRegime'
        = render partial: 'pd_regimes/current_apd_regime', locals: { current: current }

