%ul.no-bullet
  %li
    %b Last Fill:
    = current.last_fill_ml

  %li
    %b Additional manual exchange:
    = yes_no(current.add_manual_exchange)

  %li
    %b Tidal?:
    = yes_no(current.tidal_indicator)

  %li
    %b Tidal percentage:
    = current.tidal_percentage

  %li
    %b Number of cycles per APD session:
    = current.no_cycles_per_apd

  %li
    %b Overnight PD volume on APD:
    = current.overnight_pd_ml
