= r.hidden_field :patient_id

.row
  .large-6.columns
    .large-12.columns
      .section-underliner
        Dates:

      .large-12.columns
        = r.label :start_date, "Regime Start Date"
        = r.date_select(:start_date, { start_year: (50.years.ago).year, end_year: Time.now.year , order: [:day, :month, :year] }, class: "datetime")

        = r.label :end_date, "Regime End Date"
        = r.date_select(:end_date, { start_year: (50.years.ago).year, end_year: Time.now.year , order: [:day, :month, :year] }, class: "datetime")

    .large-12.columns
      .section-underliner
        Daily Total Fluid Exchanges:

      .large-12.columns
        = r.label :glucose_ml_percent_1_36, "Daily volume of 1.36% glucose/litre (ml)"
        = r.text_field :glucose_ml_percent_1_36

        = r.label :glucose_ml_percent_2_27, "Daily volume of 2.27% glucose/litre (ml)"
        = r.text_field :glucose_ml_percent_2_27

        = r.label :glucose_ml_percent_3_86, "Daily volume of 3.86% glucose/litre (ml)"
        = r.text_field :glucose_ml_percent_3_86

        = r.label :amino_acid_ml, "Daily volume of amino acid soln (ml)"
        = r.text_field :amino_acid_ml

        = r.label :icodextrin_ml, "Daily volume of icodextrin soln (ml)"
        = r.text_field :icodextrin_ml

      .large-12.columns
        %ul.no-bullet
          %li
            = r.check_box :low_glucose_degradation
            = r.label :low_glucose_degradation, "Low glucose degradation product (GDP)"
          %li
            = r.check_box :low_sodium
            = r.label :low_sodium, "Low sodium solution"

    .large-12.columns
      .section-underliner
        Other Info:

      .large-12.columns
        %ul.no-bullet
          %li
            = r.check_box :additional_hd
            = r.label :additional_hd, "On additional HD"
