%h5.section-underliner Bags:

#pd-regime-bags
  = r.fields_for :pd_regime_bags do |rb|

    = field_set_tag do
      = render partial: 'pd_regimes/bags/form', locals: {rb: rb}

.large-12.columns
  = r.submit 'Add Bag', name: 'actions[add]', class: 'add-bag button tiny'
  = r.link_to_add 'Add Bag', :pd_regime_bags, class: 'add-bag button tiny hide'

