.wide-screen
  .columns.large-12
    = render partial: "patients/patient_info_header", locals: { model: @patient }
    = render partial: "patients/mini_renal_profile", locals: { model: @patient }

    %h5
      PD Regime Details

.row
  .large-12.columns
    = field_set_tag do
      %legend.title-bold
        = "Last Updated: #{@pd_regime.updated_at}"

      .large-12.columns
        .large-12.columns
          %dl
            %dt.title-bold
              Regime Start Date:
            %dd
              = @pd_regime.start_date
            %dt.title-bold
              Regime End Date:
            %dd
              = default_for_blank(@pd_regime.end_date, "Pending")

        .large-12.columns
          .section-underliner.title-bold
            Treatment:

          .large-12.columns
            %p
              = @pd_regime.treatment


        .large-12.columns
          .section-underliner.title-bold
            Bags:

          .large-12.columns
            %ul
              = pd_regime_bags(@pd_regime.pd_regime_bags)

        .large-12.columns
          .section-underliner.title-bold
            Other Info:

          .large-12.columns
            %ul
              %li
                = "On additional HD: #{yes_no(@pd_regime.add_hd)}"

      .large-12.columns.button-padding
        = link_to "Edit", edit_patient_pd_regime_path(@patient, @pd_regime.id), class: "tiny button right"
        = link_to "Back", pd_info_patient_path(@patient), class: "button tiny left cancel"
