.wide-screen
  .columns.large-12
    = render partial: "patients/patient_info_header", locals: { model: @patient }
    = render partial: "patients/mini_renal_profile", locals: { model: @patient }

.row
  %h4
    PD Regime Details

.row
  = field_set_tag do
    %legend.title-bold
      = "Last Updated: #{@pd_regime.updated_at}"

    .large-12.columns
      .large-6.columns
        %ul.no-bullet
          .padding-bottom-1
            %li
              %b Start Date:
              = @pd_regime.start_date
          .padding-bottom-1
            %li
              %b End Date:
              = default_for_blank(@pd_regime.end_date, "Pending")
          .padding-bottom-1
            %li
              %b Treatment:
              = @pd_regime.treatment
          %li
            %b On additional HD:
            = yes_no(@pd_regime.add_hd)

      .large-6.columns
        - if @pd_regime.type == 'ApdRegime'
          = render partial: 'pd_regimes/apd_regime_show', locals: { model: @pd_regime }

    .large-12.columns
      .section-underliner.title-bold.padding-top-1
        Bags:

      .large-12.columns
        %ul
          = pd_regime_bags(@pd_regime.pd_regime_bags)

    .large-12.columns.button-padding
      = link_to "Edit", edit_patient_pd_regime_path(@patient, @pd_regime.id), class: "tiny button right"
      = link_to "Back", pd_info_patient_path(@patient), class: "button tiny left cancel"
