%h1
  Add a New Event

= link_to "Back to patient list", patients_path, class: "button tiny right"

= form_for @event, :method => :post do |f|
  
  .row
    .large-6.columns
      = field_set_tag do
        %legend
          New Event

        %ul.no-bullet
          %li
            = f.label :date, "Event Date"
            =f.date_select(:enc_date, { start_year: (5.years.ago).year, end_year: Time.now.year })

            = f.label :user_id, "Entered by"
            =f.text_field :staff_name

            = f.label :Type, "Event Type"
            =f.text_field :Type

            = f.label :description, "Description"
            =f.text_field :description

            = f.label :notes, "Notes"
            =f.text_area(:notes, :cols => 50, :rows => 5)

            = submit_tag "Save Event", class: "button tiny right"

