.row.g-center
  = render partial: 'patients/patient_info_header', locals: { model: @patient }

.row
  = render partial: 'patients/mini_renal_profile', locals: { model: @patient }

.row
  %h5
    Patient Modality

  %table
    %tr
      %th
        Modality Code
      %th
        Notes
      %th
        Start Date
      %th
        Termination Date

    - @modalities.each do |modality|
      %tr
        %td
          = modality.modality_code.name
        %td
          = modality.notes
        %td
          = modality.start_date
        %td
          = modality.termination_date


  = link_to 'Set New Modality', new_patient_modality_path(@patient),
      title: 'Set Patient Modality',
      class: 'button tiny left cancel mt'

.wide-screen
  = content_for :secondary_nav do
    = render partial: "patients/clin_sum_sub_nav", locals: { model: @patient }

