.row.g-center
  = render partial: "patients/patient_info_header", locals: { model: @patient }

.row
  = render partial: "patients/mini_renal_profile", locals: { model: @patient }

.row
  %h5
    Set Patient Modality

.row
  %ul.no-bullet
    = form_for @modality, as: :modality, url: patient_modalities_path(@patient) do |m|

      .modality-form

        = m.hidden_field :id

        = m.hidden_field :patient_id

        %li
          = m.label :modality_code_id, "Modality"
          = m.collection_select :modality_code_id, ModalityCode.all, :id, :name, {}, :id => "modality-code-select"

        .row
          %li.large-3.columns
            = link_to "Update Cause of Death", death_update_patient_path(@patient), {:style => m.object.modality_code.blank? || m.object.modality_code.name == "Death" ? 'display:none' : 'display:block', class: "update-death button tiny mt"}

        %li
          = m.label :modal_change_type, "Type of Change"
          = m.select :modal_change_type, modal_change_options(m.object.modal_change_type), {}, :class => "modal-change-type"
        %li
          = m.label :modality_reason_id, "Reason for Change"
          = m.collection_select :modality_reason_id, modal_reasons_for(m.object.modal_change_type), :id, :description, {}, :class => "modality-reason-select"

        %li
          = link_to "Renal Registry Reason for Change Codes", "#", id: "modal-reason-code", class: "button tiny mt"

        %li
          = m.label :date, "Start Date"
          = m.date_select(:start_date, {start_year: (120.years.ago).year, end_year: Time.now.year, order: [:day, :month, :year]}, class: "datetime")

        %li
          = m.label :notes, "Notes"
          = m.text_area(:notes, :cols => 10, :rows => 2)

        = m.submit "Save Modality", :class => "button tiny right save mt"

  = link_to "Cancel", clinical_summary_patient_path(@patient), class: "button tiny left cancel mt"

.wide-screen
  = content_for :secondary_nav do
    = render partial: "patients/clin_sum_sub_nav", locals: { model: @patient }

