= render partial: 'shared/errors', locals: {model: f.object}

= hidden_field_tag :type, @letter.type
= f.hidden_field :patient_id
= f.hidden_field :clinic_id if @letter.clinic_letter?

.row
  %h5 #{letter_info(@letter)}

.row
  .columns.large-10.inline
    = f.label :letter_description_id, 'Description'
    = f.select :letter_description_id,
      descriptions_options(@letter.letter_description_id),
      include_blank: true,
      prompt: 'Select a letter description'

  .columns.large-2.inline
    = f.label :state, 'Status'
    = f.select :state, [:draft, :review]

.row
  .columns.large-4.inline
    = f.label :author_id
    = f.select :author_id, authors_options

.row
  %div{class: "columns large-12 inline#{errors_css_class(f.object, :recipient_address)}"}
    %h6 Recipient:

    = f.radio_button :recipient, 'doctor', class: 'inline', disabled: !@patient.doctor.present?
    = f.label :recipient, 'Doctor'

    = f.radio_button :recipient, 'patient', class: 'inline', disabled: !@patient.current_address.present?
    = f.label :recipient, 'Patient'

    = radio_button_tag 'letter[recipient]', 'other', @patient.doctor.nil? && @patient.current_address.nil?, class: 'inline'
    = f.label :recipient, 'Other'

    = text_field_tag 'other_recipient_address', recipient_address(@letter)

- if @letter.clinic_letter?
  .row
    = patient_problems(@letter)
    = patient_medications(@letter)

.row
  = f.label :body, 'Message'
  = f.text_area :body, rows: 15

- if @letter.author.present?
  .row
    %h6 Signature
    = @letter.author.signature
