%tr
  %td
    = letter.author.full_name
  %td
    = letter.letter_description.text
  %td
    = letter.state
  %td
    = letter.updated_at
  %td
    = link_to 'Edit', edit_patient_letter_path(patient_id: @patient.to_param, id: letter.to_param), class: 'button tiny'
    = link_to 'Delete', patient_letter_path(patient_id: @patient.to_param, id: letter.to_param), method: :delete, class: 'button tiny cancel'
