%dt  
  %dd.remove-name.patient-name{role: "menuitem"}
    = link_to " " + "#{@patient.full_name}", clinical_summary_patient_path(@patient), :title => "Clinical Summary", :"data-tooltip aria-haspopup" => "true", :class => "fi-graph-trend"
  %dd{role: "menuitem"}
    = link_to " " + "View", "#", :title => "View Letters", :title => "Letters", :class => "fi-mail icon-style"
  %dd{role: "menuitem"}
    = link_to " " + "View", demographics_patient_path(@patient), :title => "Demographics", :class => "fi-clipboard-notes icon-style"
  %dd{role: "menuitem"}
    = link_to "Problems", problems_patient_path(@patient), :title => "Manage Problems"
  %dd{role: "menuitem"}
    = link_to "Meds", medications_patient_path(@patient), :title => "Manage Medications"
  %dd{role: "menuitem"}
    = link_to "Events", patient_patient_events_path(@patient), :title => "Patient Events"


