%dt  
  %dd.remove-name.patient-name{role: "menuitem"}
    = link_to "ClinSumm", clinical_summary_patient_path(@patient), :title => "Clinical Summary"
  %dd{role: "menuitem"}
    = link_to "Letters", "#", :title => "View Letters", :title => "Letters"
  %dd{role: "menuitem"}
    = link_to "Admin", demographics_patient_path(@patient), :title => "Demographics"
  %dd{role: "menuitem"}
    = link_to "Modal", modality_patient_path(@patient), :title => "Patient Modality"
  %dd{role: "menuitem"}
    = link_to "Problems", problems_patient_path(@patient), :title => "Manage Problems"
  %dd{role: "menuitem"}
    = link_to "Meds", medications_patient_path(@patient), :title => "Manage Medications"
  %dd{role: "menuitem"}
    = link_to "Events", patient_patient_events_path(@patient), :title => "Patient Events"


