%dd.remove-name.patient-name
  = link_to " " + "#{@patient.full_name}", clinical_summary_patient_path(@patient), :title => "Clinical Summary", :class => "fi-graph-trend"
%dd
  = link_to " " + "View", "#", :title => "View Letters", :title => "Letters", :class => "fi-mail icon-style"
%dd
  = link_to " " + "View", demographics_patient_path(@patient), :title => "Demographics", :class => "fi-clipboard-notes icon-style"
%dd
  = link_to "Problems", problems_patient_path(@patient), :title => "Manage Problems"
%dd
  = link_to "Meds", medications_patient_path(@patient), :title => "Manage Medications"
%dd
  = link_to "Events", patient_patient_events_path(@patient), :title => "Patient Events"
