= field_set_tag do 
      = patient.label :nhs_number, "NHS Number" 
      = patient.text_field :nhs_number

      = patient.label :surname 
      = patient.text_field :surname

      = patient.label :forename
      = patient.text_field :forename

      = patient.label :dob, "DoB" 
      = patient.date_select(:dob, { start_year: (120.years.ago).year, end_year: (18.years.ago).year })
