.row
  .large-12.columns
    = field_set_tag do
      %legend
        Patient Demographics

      .large-4.columns
        %ul.no-bullet
          %li
            = patient.label :nhs_number, "NHS Number"
            = patient.text_field :nhs_number

          %li
            = patient.label :local_patient_id, "Local Patient ID"
            = patient.text_field :local_patient_id
      
      .large-4.columns
        %ul.no-bullet
          %li
            = patient.label :surname
            = patient.text_field :surname

          %li
            = patient.label :forename
            = patient.text_field :forename
      
      .large-4.columns
        %ul.no-bullet
          %li
            = patient.label :sex
            = patient.select(:sex, options_for_select([["Unknown", "0"], ["Male", "1"], ["Female", "2"], ["Not Specified", "9"]]))

          %li
            = patient.label :ethnicity_id, "Ethnicity"
            = patient.select(:ethnicity_id, Ethnicity.all.collect { |p| [p.name, p.id] })

      
      .large-12.columns.row
        = patient.label :dob, "DoB"

      .large-5.columns.left
        = patient.date_select(:dob, {start_year: (120.years.ago).year, end_year: Time.now.year , order: [:day, :month, :year]}, class: "dob")
      
      .large-5.columns.row.right
        = patient.check_box :paediatric_patient_indicator
        = patient.label :paediatric_patient_indicator


  .large-4.columns
    = patient.fields_for :current_address_attributes, patient.object.current_address do |a|
      %fieldset{:id => "current_address"}
        %legend
          Current Address

        = render :partial => 'addresses/address_form', :locals => { :a => a }

  .large-4.columns
    = patient.fields_for :address_at_diagnosis_attributes, patient.object.address_at_diagnosis do |a|
      %fieldset{:id => "address_at_diagnosis"}
        %legend
          Address at Diagnosis

        = render :partial => 'addresses/address_form', :locals => { :a => a }

  .large-4.columns
    = field_set_tag do
      %legend
        Organisation/Practice

      = render :partial => 'organisation_practice_form', :locals => { :patient => patient }

