%table.responsive
  %thead
    %th.column-6-width
      Diagnosis Date
    %th
      Organisms
    %th
      Treatment
    %th
      Outcome
    %th
      Notes
    %th
      Antibiotics
    %th.column-6-width
      Last Updated
    %th
      Action

  %tbody
    - @exit_site_infections.each do |e|
      %tr{ valign: "top" }
        %td{ :data => { :heading => "Diagnosis Date" }, valign: "top" }
          = e.diagnosis_date.strftime("%d/%m/%Y")

        %td{ :data => { :heading => "Organisms" }, valign: "top" }
          %ul.table-data-list
            = organisms(e.infection_organisms)

        %td{:data => { :heading => "Treatment" }, valign: "top" }
          %dl.accordion{ data: { accordion: true } }
            %dd.accordion-navigation
              %a.toggle-info{ :id => "patient-exit-site-toggle-#{e.id}", href: "#patient-exit-site-toggle-#{e.id}" }
                View
              .content.toggle-content{ :id => "patient-exit-site-toggle-#{e.id}" }
                = e.treatment

        %td{ :data => { :heading => "Outcome" }, valign: "top" }
          %dl.accordion{ data: { accordion: true } }
            %dd.accordion-navigation
              %a.toggle-info{ :id => "patient-exit-site-toggle-#{e.id}", href: "#patient-exit-site-toggle-#{e.id}" }
                View
              .content.toggle-content{ :id => "patient-exit-site-toggle-#{e.id}" }
                = e.outcome

        %td{ :data => { :heading => "Notes" }, valign: "top" }
          %dl.accordion{ data: { accordion: true } }
            %dd.accordion-navigation
              %a.toggle-info{ :id => "patient-exit-site-toggle-#{e.id}", href: "#patient-exit-site-toggle-#{e.id}" }
                View
              .content.toggle-content{ :id => "patient-exit-site-toggle-#{e.id}" }
                = e.notes

        %td{ :data => { :heading => "Antibiotics" }, valign: "top" }
          %ul.table-data-list
            = medication_and_route(e.medications)

        %td{ :data => { :heading => "Last Updated" }, valign: "top" }
          = e.updated_at.strftime("%d/%m/%Y, %H:%M")

        %td{ :data => { :heading => "Action" }, valign: "top" }
          %ul.table-data-list
            %li
              = link_to "Update", edit_patient_exit_site_infection_path(@patient, e.id), class: "update-es-infection", id: "update-es-infection-#{e.id}"
            %li
              = link_to "View Infection", patient_exit_site_infection_path(@patient, e.id), class: "view-es-infection", id: "view-es-infection-#{e.id}"


