%table.responsive
  %thead
    %th.col-width-date
      Diagnosis Date
    %th
      Outcome
    %th
      Organisms
    %th
      Treatment
    %th
      Antibiotics/Routes
    %th
      Notes
    %th.col-width-date
      Last Updated
    %th.col-width-9
      Action

  %tbody
    - @exit_site_infections.each do |e|
      %tr{ valign: "top" }
        %td{ :data => { :heading => "Diagnosis Date" }, valign: "top" }
          = e.diagnosis_date

        %td{ :data => { :heading => "Outcome" }, valign: "top" }
          = default_for_blank(e.outcome, "Unknown")

        %td{ :data => { :heading => "Organisms" }, valign: "top" }
          %ul.table-data-list
            = organisms(e.infection_organisms)

        %td{:data => { :heading => "Treatment" }, valign: "top" }
          = default_for_blank(e.treatment, "Unknown")

        %td{ :data => { :heading => "Antibiotics" }, valign: "top" }
          %ul.table-data-list
            = medication_and_route(e.medications)

        %td{ :data => { :heading => "Notes" }, valign: "top" }
          = e.notes

        %td{ :data => { :heading => "Last Updated" }, valign: "top" }
          = e.updated_at

        %td{ :data => { :heading => "Action" }, valign: "top" }
          %ul.table-data-list
            %li
              = link_to "Update", edit_patient_exit_site_infection_path(@patient, e.id), class: "update-es-infection", id: "update-es-infection-#{e.id}"
            %li
              = link_to "View Infection", patient_exit_site_infection_path(@patient, e.id), class: "view-es-infection", id: "view-es-infection-#{e.id}"

