.modality-form
  = m.hidden_field :id

  = m.hidden_field :patient_id

  %li
    / TODO hidden
    = m.label :user_id, "Entered By"
    = m.text_field :user_id

  %li
    = m.label :modality_code_id, "Modality"
    = m.collection_select :modality_code_id, ModalityCode.all, :id, :name, {}, :id => "modality-code-select" 
  
  .row  
    %li.large-2.columns
      = link_to "Cause of Death", death_update_patient_path, {:style => m.object.modality_code.blank? || m.object.modality_code.name == "Death" ? 'display:block' : 'display:none', class: "update-death button tiny mt"}
   
  %li
    = m.label :modal_change_type, "Type of Change"
    = m.select :modal_change_type, modal_change_options(m.object.modal_change_type), {}, :class => "modal-change-type"  
  %li
    = m.label :modality_reason_id, "Reason for Change"
    = m.collection_select :modality_reason_id, modal_reasons_for(m.object.modal_change_type), :id, :description, {}, :class => "modality-reason-select"

  %li
    = link_to "Renal Registry Reason for Change Codes (old link)", modality_reasons_path, id: "modal-reason-code-old", class: "button tiny mt"
  
  %li
    = link_to "Renal Registry Reason for Change Codes", "#", id: "modal-reason-code", class: "button tiny mt"

  %li
    = m.label :date, "Start Date"
    = m.date_select(:date, {start_year: (120.years.ago).year, end_year: Time.now.year, order: [:day, :month, :year]}, class: "datetime")

  %li
    = m.label :notes, "Notes"
    = m.text_area(:notes, :cols => 10, :rows => 2)
