%tr
  %td.g-center{:data => { :heading => "Letters"}}
    = link_to " " + "New", "#", :title => "New Letter", :class => "fi-mail icon-style"
  %td.g-center{ :data => { :heading => "Admin"}}
    = link_to " " + "View", demographics_patient_path(patient), :title => "Demographics", :class => "fi-clipboard-notes icon-style"
  %td{ :data => { :heading => "Forename"}}
    = link_to " " + patient.full_name, clinical_summary_patient_path(patient), :title => "Clinical Summary", :class => "fi-graph-trend"
  %td{ :data => { :heading => "NHS No."}}
    = patient.nhs_number
  %td{ :data => { :heading => "Hospital No."}}
    = patient.local_patient_id
  %td{ :data => { :heading => "Sex"}}
    = I18n.t("enums.gender.#{patient.sex}")
  %td{ :data => { :heading => "DoB"}}
    = patient.dob
  %td{ :data => { :heading => "Age"}}
    = patient.age


