%table.responsive.pd-regimes
  %thead
    %tr
      %th.column-6-width
        Regime Start Date
      %th.column-6-width
        Regime End Date
      %th
        Low GDP
      %th
        Low Na
      %th
        On HD
      %th.column-6-width
        Last Updated
      %th
        Actions

  %tbody
    - @patient.pd_regimes.each do |r|
      %tr{ valign: "top" }

        %td{ :data => { :heading => "Start Date" }, valign: "top" }
          = r.start_date

        %td{ :data => { :heading => "End Date" }, valign: "top" }
          = default_for_blank(r.end_date, "Pending")

        %td{ :data => { :heading => "Low GDP" } }
          = yes_no(r.low_glucose_degradation)

        %td{ :data => { :heading => "Low Na" } }
          = yes_no(r.low_sodium)

        %td{ :data => { :heading => "On HD" } }
          = yes_no(r.additional_hd)

        %td{ :data => { :heading => "Last Updated" } }
          = r.updated_at

        %td{ :data => { :heading => "Actions" } }
          %ul.table-data-list
            - unless current_user.read_only?
              %li
                = link_to "Update", edit_patient_pd_regime_path(@patient, r.id), class: "update-pd-regime"








