%table.responsive
  %thead
    %tr
      %th.column-6-width
        Regime Start Date
      %th.column-6-width
        Regime End Date
      %th
        1.36% glc/l (ml)
      %th
        2.27% glc/l (ml)
      %th.column-9-width
        3.86% glc/l (ml)
      %th
        amino acid (ml)
      %th
        icodextrin (ml)
      %th
        Low GDP
      %th
        Low Na
      %th
        On HD
      %th.column-6-width
        Last Updated
      %th
        Actions

  %tbody
    - @pd_regimes.each do |r|
      %tr{ valign: "top" }

        %td{ :data => { :heading => "Start Date" }, valign: "top" }
          = r.start_date

        %td{ :data => { :heading => "End Date" }, valign: "top" }
          = default_for_blank(r.end_date, "Pending")

        %td{ :data => { :heading => "Daily 1.36% glc/l (ml)" }, valign: "top" }
          = r.glucose_ml_percent_1_36

        %td{ :data => { :heading => "Daily 2.27% glc/l (ml)" }, valign: "top" }
          = r.glucose_ml_percent_2_27

        %td{ :data => { :heading => "Daily 3.86% glc/l (ml)" }, valign: "top" }
          = r.glucose_ml_percent_3_86

        %td{ :data => { :heading => "Daily amino acid soln (ml)" }, valign: "top" }
          = r.amino_acid_ml

        %td{ :data => { :heading => "Daily icodextrin soln (ml)" }, valign: "top" }
          = r.icodextrin_ml

        %td{ :data => { :heading => "Low GDP" } }
          = yes_no(r.low_glucose_degradation)

        %td{ :data => { :heading => "Low Na" } }
          = yes_no(r.low_sodium)

        %td{ :data => { :heading => "On HD" } }
          = yes_no(r.additional_hd)

        %td{ :data => { :heading => "Actions" } }








