%table.responsive
  %thead
    %tr
      %th.column-6-width
        Diagnosis Date
      %th.column-6-width
        Treatment Start Date
      %th.column-6-width
        Treatment End Date
      %th
        Episode Type
      %th
        Organisms
      %th.column-9-width
        White Cell Count
      %th
        Causes/ Symptoms
      %th
        Antibiotics/Routes
      %th
        Notes
      %th.column-6-width
        Last Updated
      %th
        Action

  %tbody
    - @peritonitis_episodes.each do |p|
      %tr{ valign: "top" }

        %td{ :data => { :heading => "Diagnosis Date" }, valign: "top" }
          = p.diagnosis_date.strftime("%d/%m/%Y")

        %td{ :data => { :heading => "Start Treatment Date"}, valign: "top" }
          = p.treatment_start_date.strftime("%d/%m/%Y")

        %td{ :data => { :heading => "End Treatment Date"}, valign: "top" }
          = p.treatment_end_date.strftime("%d/%m/%Y")

        %td{ :data => { :heading => "Episode Type"}, valign: "top" }
          %ul.table-data-list
            %li
              = p.episode_type.blank? ? "Unknown": p.episode_type.term
            %li
              = "Catheter Removed: #{p.catheter_removed.yesno}"

        %td{ :data => { :heading => "Organisms"}, valign: "top" }
          = organism_and_sensitivity(p.infection_organisms)

        %td{ :data => { :heading => "White Cell Count"}, valign: "top" }
          %ul.table-data-list
            %li
              = "Total: #{p.white_cell_total}"
            %li
              = "Neutro: #{p.white_cell_neutro}%"
            %li
              = "Lympho: #{p.white_cell_lympho}%"
            %li
              = "Degen: #{p.white_cell_degen}%"
            %li
              = "Other: #{p.white_cell_other}%"

        %td{ :data => { :heading => "Causes/ Symptoms"}, valign: "top" }
          %ul.table-data-list
            %li
              = "Line Break: #{p.line_break.yesno}"
            %li
              = "Exit Site Infection: #{p.exit_site_infection.yesno}"
            %li
              = "Diarrhoea: #{p.diarrhoea.yesno}"
            %li
              = "Abdominal Pain: #{p.abdominal_pain.yesno}"
            %li
              = "Fluid Description: #{p.fluid_description.description}"

        %td{ :data => { :heading => "Antibiotics/ Routes"}, valign: "top" }
          %ul.table-data-list
            = medication_and_route(p.medications)

        %td{:data => { :heading => "Notes" }, valign: "top"}
          %dl.accordion{ data: { accordion: true } }
            %dd.accordion-navigation
              %a.toggle-info{ :id => "patient-peritonitis-toggle-#{p.id}", href: "#patient-peritonitis-toggle-#{p.id}" }
                View
              .content.toggle-content{ :id => "patient-peritonitis-toggle-#{p.id}" }
                = p.notes

        %td{ :data => { :heading => "Last Updated" }, valign: "top" }
          = p.updated_at.strftime("%d/%m/%Y, %H:%M")

        %td{ :data => { :heading => "Action" }, valign: "top" }
          %ul.table-data-list
            %li
              = link_to "Update", edit_patient_peritonitis_episode_path(@patient, p.id)
