.problem-form{data: { index: @patient.problems.length - 1 }}
  = pb.hidden_field :id
  = pb.hidden_field :patient_id

= pb.label :description
= pb.text_field :description, :class => "probs-description"

//change to hidden 
= pb.label :user_id
= pb.text_field :user_id
