.row
  %h5= "Clinical Summary for #{@patient.full_name} - KCH: #{@patient.local_patient_id}, Sex: #{I18n.t("enums.gender.#{@patient.sex}")}, DoB: #{@patient.dob}, Modal: "

  .columns.large-12.small-12
    %table.responsive
      %caption
        = link_to "All Patient Events", patient_events_path

      %thead
        %th
          Added
        %th
          Event Type
        %th
          Description
        %th
          User

      %tbody
        - @patient_events.each do |event|
          %tr
            %td{:data => { :heading => "Added" }}
              = event.created_at
            %td{:data => { :heading => "Event Type"}}
              = event.patient_event_type.name
            %td{:data => { :heading => "Description"}}
              = event.description
            %td{:data => { :heading => "User"}}
              / TODO

.columns.large-12.small-12
  %table.responsive
    %caption
      = link_to "All Current Medications", medications_index_patient_path

      = render partial: "patients/medications", locals: { model: @patient_medications }
          
.row
  = content_for :secondary_nav do

    %dd
      = link_to "Back to Patient List", patients_path
    %dd
      = link_to "Add a Patient Event for #{@patient.full_name}", new_patient_event_path
    %dd
      = link_to "Add a Medication #{@patient.full_name}", medications_patient_path(@patient)



