%h1 Clinical Summary

= link_to "Back to patient list", patients_path, class: "button tiny right"

%h2= "#{@patient.forename} #{@patient.surname}"

= link_to "Add an Encounter/Event", new_encounter_event_path, class: "button tiny left"

