.row
  %h1 Clinical Summary

  = link_to "Back to patient list", patients_path, class: "button tiny right"

  %h2= "#{@patient.forename} #{@patient.surname}"

  = link_to "Add an Event", new_event_path, class: "button tiny left"

.row
  = field_set_tag do
    %legend
      = link_to "Events", events_path
    %ul.no-bullet
      - @events.each do |e|
        = render partial: "event/event", locals: { e: e }

