.row
  %h1 Clinical Summary

  = link_to "Back to patient list", patients_path, class: "button tiny right"

  %h2= "#{@patient.forename} #{@patient.surname}"

  = link_to "Add a Patient Event", new_patient_event_path, class: "button tiny left"

.row
  = field_set_tag do
    %legend
      = link_to "Patient Events", patient_events_path
    %ul.no-bullet
      - @patient_events.each do |e|
        = render partial: "patient_events/patient_event", locals: { e: e }

