.row
  %h1 Clinical Summary

  %h2= "#{@patient.forename} #{@patient.surname}"

  %table.responsive
    %caption
      = link_to "All Patient Events", patient_events_path

    %thead
      %th
        Added
      %th
        Event Type
      %th
        User
      %th
        Modal
      %th
        Description
      %th
        Time
      %th
        Staff Name

    %tbody
      = render @patient_events

.row
  = content_for :secondary_nav do
    %li
      = link_to "Back to Patient List", patients_path
    %li
      = link_to "Add a Patient Event", new_patient_event_path


