.row
  %h1 Clinical Summary

  %h2= @patient.full_name

  .columns.large-6.small-12
    %table.responsive
      %caption
        = link_to "All Patient Events", patient_events_path

      %thead
        %th
          Added
        %th
          Event Type
        %th
          Description
        %th
          User

      %tbody
        - @patient_events.each do |event|
          %tr
            %td{:data => { :heading => "Added" }}
              = event.created_at
            %td{:data => { :heading => "Event Type"}}
              = event.patient_event_type.name
            %td{:data => { :heading => "Description"}}
              = event.description
            %td{:data => { :heading => "User"}}
              / TODO

    .g-center
      = link_to "Add New Event For #{@patient.full_name}", new_patient_event_path, :class => 'button'

  .columns.large-6.small-12

.row
  = content_for :secondary_nav do
    %dd
      = link_to "Back to Patient List", patients_path
    %dd
      = link_to "Patient Demographics", demographics_patient_path(@patient)


