.row.g-center
  %h4
    = link_to "Clinical Summary", clinical_summary_patient_path(@patient)

.clinical-summary
  .columns.large-6
    %h5.g-center 
      = link_to "#{@patient.problems.length} Problems", problems_patient_path(@patient)

    %ul.no-bullet
      - @patient.problems.each do |p|
   
        %li
          = "#{p.description}, #{p.created_at.strftime("%d/%m/%Y")}, #{p.user_id}"
                    
.clinical-summary
  .columns.large-6
    %h5.g-center
      = link_to "#{@patient.patient_medications.length} Current Medications", medications_index_patient_path(@patient)

    %ul.no-bullet
      - @patient.patient_medications.each do |p|
   
        %li{:class => "drug-#{p.medication.type.downcase}"}
          
          = "#{p.medication.type}, #{p.medication.name}, #{p.dose}, #{I18n.t("enums.route.#{p.route}")}, #{p.frequency}, #{p.date}"          

.clinical-summary
  .columns.large-12
    %h5.g-center
      = link_to "#{@patient.patient_events.length} Patient Events", patient_patient_events_path(@patient)

    %ul.no-bullet 
      - @patient.patient_events.each do |event|
        %li
          %dl.accordion{data: {accordion: true} }
            %dd.accordion-navigation
              %a.fi-plus.fi-minus.toggle-notes{:id => "patient-event-notes-#{event.id}", href: "#patient-event-notes-#{event.id}"}           
                = "#{event.created_at}, #{event.description}"
                 
              .patient-event.content{:id => "patient-event-notes-#{event.id}"}
                = event.notes
          
.clinical-summary
  = content_for :secondary_nav do  
    = render partial: "patients/clin_sum_sub_nav", locals: { model: @patient }

