.wide-screen
  .columns.large-12
    = render partial: "patients/patient_info_header", locals: { model: @patient }
    = render partial: "patients/mini_renal_profile", locals: { model: @patient }

.row
  %h5 Cause of Death

.row
  .large-12.columns

    = render partial: "shared/errors", locals: { model: @patient }

.row
  .large-12.columns
    = form_for @patient, :method => :put do |f|
      = hidden_field_tag :redirect_url, demographics_patient_path(@patient)
      = hidden_field_tag :template, "death_update"

      = f.label :death_date, "Date of Death"
      = f.date_select(:death_date, {start_year: (1.years.ago).year, end_year: Time.now.year, order: [:day, :month, :year], include_blank: true}, class: "datetime")

      = f.label :first_edta_code_id, "EDTA Cause of Death (1)"
      = f.collection_select :first_edta_code_id, EdtaCode.all, :id, :death_cause, {:prompt => "Select 1st cause of death", include_blank: true}, :class => "edta-select"

      = f.label :second_edta_code_id, "EDTA Cause of Death (2)"
      = f.collection_select :second_edta_code_id, EdtaCode.all, :id, :death_cause, {:prompt => "Select 2nd cause of death", include_blank: true}, :class => "edta-select"

      = f.label :death_details, "Notes/Details"
      = f.text_field :death_details

      = submit_tag "Save Cause of Death", class: "button tiny right save"

      = link_to "Cancel", new_patient_modality_path(@patient), class: "button tiny left cancel"
