.wide-screen
  .columns.large-12
    = render partial: "patients/patient_info_header", locals: { model: @patient }
    = render partial: "patients/mini_renal_profile", locals: { model: @patient }

.row
  %h5.g-center.fi-clipboard-notes.left
    = "Patient Info"
  %h5.g-center.right
    = link_to "Edit", edit_patient_path(@patient), :title => "Edit demographics", :class => "fi-clipboard-pencil"
.row
  .large-12.columns
    = field_set_tag do
      %legend
        Patient Demographics

      .large-3.columns
        %dl
          %dt NHS Number:
          %dd= "#{@patient.nhs_number}"

          %dt Local Patient ID:
          %dd= "#{@patient.local_patient_id}"

      .large-3.columns
        %dl
          %dt Last Name:
          %dd= "#{@patient.surname}"

          %dt First Name:
          %dd= "#{@patient.forename}"

      .large-3.columns
        %dl
          %dt Sex:
          %dd= I18n.t("enums.gender.#{@patient.sex}")

          %dt Ethnicity:
          %dd= default_for_associated(@patient.ethnicity, :name, 'Unspecified')

      .large-3.columns
        %dl
          %dt Date of Birth:
          %dd= @patient.dob

          %dt Date of Death:
          %dd= @patient.death_date.blank? ? "N/A" : @patient.death_date

          - if @patient.death_date.present? && @patient.first_edta_code_id.blank?
            .alert_text
              Please update patient's causes of death!
            = link_to "Update Cause of Death", death_update_patient_path(@patient), {class: "update-death button tiny mt"}


      .large-12.columns
        %dl
          %dt Paediatric Patient:
          %dd= "#{@patient.paediatric_patient_indicator}"

.row
  .large-4.columns
    = field_set_tag do
      %legend
        Organisation/Practice

      %dl
        %dt GP Practice Code:
        %dd= "#{@patient.gp_practice_code}"

      %dl
        %dt PCT Organisation Code:
        %dd= "#{@patient.pct_org_code}"

      %dl
        %dt Hospital Centre Code:
        %dd= "#{@patient.hosp_centre_code}"

      %dl
        %dt Primary ESRF Centre:
        %dd= "#{@patient.primary_esrf_centre}"

  .large-4.columns
    = field_set_tag do
      %legend
        Current Address

      = render @patient.current_address if @patient.current_address

  .large-4.columns
    = field_set_tag do
      %legend
        Address at Diagnosis

      = render @patient.address_at_diagnosis if @patient.address_at_diagnosis

.wide-screen
  = content_for :secondary_nav do
    = render partial: "patients/clin_sum_sub_nav", locals: { model: @patient }
