.row
  %h5= "Patient Demographics for #{@patient.full_name} - Age: #{@patient.age}, Modal: "


.row
  .large-12.columns
    = field_set_tag do
      %legend
        Patient Demographics
  
      .large-3.columns
        %dl
          %dt NHS Number:
          %dd= "#{@patient.nhs_number}"

          %dt Local Patient ID:
          %dd= "#{@patient.local_patient_id}"

      .large-3.columns
        %dl    
          %dt Last Name:
          %dd= "#{@patient.surname}"

          %dt First Name:
          %dd= "#{@patient.forename}"

      .large-3.columns
        %dl
          %dt Sex:
          %dd= I18n.t("enums.gender.#{@patient.sex}")

          %dt Ethnicity:
          %dd= "#{@patient.ethnicity.name}"

      .large-3.columns
        %dl
          %dt Date of Birth:
          %dd= "#{@patient.dob}"

          %dt Paediatric Patient:
          %dd= "#{@patient.paediatric_patient_indicator}"

.row
  .large-4.columns
    = field_set_tag do
      %legend
        Organisation/Practice

      %dl
        %dt GP Practice Code:
        %dd= "#{@patient.gp_practice_code}"

      %dl
        %dt PCT Organisation Code:
        %dd= "#{@patient.pct_org_code}"

      %dl
        %dt Hospital Centre Code:
        %dd= "#{@patient.hosp_centre_code}"

      %dl
        %dt Primary ESRF Centre:
        %dd= "#{@patient.primary_esrf_centre}"

  .large-4.columns
    = field_set_tag do
      %legend
        Current Address
      
      = render @patient.current_address if @patient.current_address
  
  .large-4.columns
    = field_set_tag do
      %legend
        Address at Diagnosis
         
      = render @patient.address_at_diagnosis if @patient.address_at_diagnosis
  
= content_for :secondary_nav do
  %dd
    = link_to "Renal Patient list", patients_path
  %dd
    = link_to "Edit Demographics for #{@patient.full_name}", edit_patient_path(@patient)
  %dd
    = link_to "Clinical Summary for #{@patient.full_name}", clinical_summary_patient_path(@patient)