.row
  %h1 Update Patient Demographics

.row
  .large-12.columns

    = form_for @patient, :method => :put do |f|

      = render partial: "patients/demographic_form", locals: { patient: f }

      = submit_tag "Update Demographics", class: "button tiny right"

= content_for :secondary_nav do
  %dd
    = link_to "Patient list", patients_path
  %dd
    = link_to "Patient Demographics", demographics_patient_path(@patient)
