%h1 Update Patient Demographics

.large-4.columns

  = form_for :patient, url: patient_path(@patient), :method => :put do |f|
    
    = field_set_tag do 
      = f.label :nhs_number, "NHS Number" 
      = f.text_field :nhs_number

      = f.label :surname 
      = f.text_field :surname

      = f.label :forename
      = f.text_field :forename
      
      = f.label :dob, "DoB" 
      = f.text_field :dob 

    = submit_tag "Update Demographics" 



