%h5= "All Current Medications for #{@patient.full_name}" 

.columns.large-12.small-12
  %table.responsive
    %caption
      = link_to "All Current Medications", medications_index_patient_path

      = render partial: "patients/medications", locals: { model: @patient_medications }

.row
  = content_for :secondary_nav do

    %dd
      = link_to "Clinical Summary for #{@patient.full_name}", clinical_summary_patient_path(@patient.id)
    %dd
      = link_to "Edit Medications #{@patient.full_name}", medications_patient_path(@patient)
