.wide-screen
  .columns.large-12
    = render partial: "patients/patient_info_header", locals: { model: @patient }
    = render partial: "patients/mini_renal_profile", locals: { model: @patient }

.row
  %h5= "All Current Medications for #{@patient.full_name}" 

.row
  .columns.large-12.small-12
    %table.responsive
      %caption
        = link_to "All Current Medications", medications_index_patient_path

        = render partial: "patients/medications", locals: { model: @patient_medications }

.wide-screen
  = content_for :secondary_nav do  
    = render partial: "patients/clin_sum_sub_nav", locals: { model: @patient }

