%h1 Patient Medications

= form_for @patient do |f|
  = hidden_field_tag :redirect_url, medications_patient_path(@patient)

  = f.fields_for :patient_medications do |pm|

    - if pm.object.new_record?
      #new-form
        %a.button.tiny.toggle{href: '#new-form'}
          Add a new medication

        .g-hidden
          %a.button.tiny.close-new-form{href: '#'}
            Close

          %fieldset
            %legend
              Add a new medication

            = render :partial => 'patient_medication_fields', :locals => { :pm => pm }

    - else
      %dl.accordion{data: {accordion: true} }
        %dd.accordion-navigation.med-form{:class => "drug-#{pm.object.medication_type.downcase}"}
          %a{href: "#edit-meds-#{pm.object.id}"}
            %ul.no-bullet
              %li
                = pm.object.medication.name
              %li
                = pm.object.dose
              %li
                = pm.object.route
              %li
                = pm.object.frequency
              %li
                = pm.object.date

          = render :partial => 'patient_medication_fields', :locals => { :pm => pm }

  = f.submit "Save Medication", :class => "button tiny right"
