.row
  %h5 Add a New Renal Patient

.row
  .large-12.columns

    = render partial: "shared/errors", locals: { model: @patient }

    = form_for @patient, :method => :post do |f|

      = render partial: "patients/demographic_form", locals: { patient: f }

      = submit_tag "Save a New Renal Patient", class: "button tiny right save"

      = link_to "Cancel", patients_path, class: "button tiny left cancel"
