%h1 Add a New Renal Patient

.large-4.columns

  = form_for :patient, url: patients_path, :method => :post do |f|
    
    = field_set_tag do 
      = f.label :nhs_number, "NHS Number" 
      = f.text_field :nhs_number

      = f.label :surname 
      = f.text_field :surname

      = f.label :forename
      = f.text_field :forename

      = f.label :dob, "DoB" 
      = f.date_select(:dob, { start_year: (120.years.ago).year, end_year: (18.years.ago).year })

    = submit_tag "Add a New Renal Patient" 
