.main-content
  .row.g-center
    = render partial: "patients/patient_info_header", locals: { model: @patient }

  .row
    = render partial: "patients/mini_renal_profile", locals: { model: @patient }

.row  
  %h5.g-center
    = link_to "PD Info", pd_info_patient_path(@patient)

.wide-screen
  %h4
    = "Peritonitis Episode (#{@patient.peritonitis_episodes.length})"

  %h5
    = link_to "Record an Episode of Peritonitis", new_patient_peritonitis_episode_path(@patient)
                                
  = render partial: "patients/peritonitis_table"
          
.wide-screen
  = content_for :secondary_nav do  
    = render partial: "patients/clin_sum_sub_nav", locals: { model: @patient }

