.wide-screen
  .columns.large-12
    = render partial: "patients/patient_info_header", locals: { model: @patient }
    = render partial: "patients/mini_renal_profile", locals: { model: @patient }

.row  
  %h5.g-center
    = link_to "PD Info", pd_info_patient_path(@patient)

.wide-screen
  %h5
    = "Peritonitis Episode (#{@peritonitis_episodes.length})"

  %h6
    = link_to "Record an Episode of Peritonitis", new_patient_peritonitis_episode_path(@patient)
                                
  = render partial: "patients/peritonitis_table"

  %h5
    = "Exit Site Infections (#{@exit_site_infections.length})"

  %h6
    = link_to "Record an Exit Site Infection", new_patient_exit_site_infection_path(@patient)

  = render partial: "patients/exit_site_table"
                                  