%h1 Admin Info

%table
  %thead
    %tr
      %th(width = "250" colspan = "2") Patient Demographics 
 
  %tbody
    %tr
      %td= "NHS Number:"
      %td= "#{@patient.nhs_number}"

    %tr
      %td= "Last Name:"
      %td= "#{@patient.surname}"

    %tr
      %td= "First Name:"
      %td= "#{@patient.forename}"

    %tr
      %td= "Date of Birth:"
      %td= "#{@patient.dob}"

= link_to "Edit Demographics", edit_patient_path(@patient) , class: "edit-demographics"


