.row
  %h1 Admin Info

.row
  %h3(class = "left") Patient Demographics
  = link_to "Edit Demographics", edit_patient_path(@patient), class: "button tiny right"

.large-4.columns
  %dl
    %dt NHS Number:
    %dd= "#{@patient.nhs_number}"

    %dt Last Name:
    %dd= "#{@patient.surname}"

    %dt First Name:
    %dd= "#{@patient.forename}"

    %dt Date of Birth:
    %dd= "#{@patient.dob}"

.large-4.columns
  = render @patient.current_address if @patient.current_address

.large-4.columns
  = render @patient.address_at_diagnosis if @patient.address_at_diagnosis



