.organism-form.content

  = io.hidden_field :id

  = io.label :organism_code_id, "Organism"
  = io.collection_select :organism_code_id, OrganismCode.all, :id, :name, {prompt: "Please select organism found for this peritonitis episode" }, :class => "organism-select"

  = io.label :sensitivity
  = io.text_field :sensitivity