%tr
  %td{:data => { :heading => "Added" }}
    = patient_event.created_at.strftime("%d/%m/%Y")
  %td{:data => { :heading => "Event Type"}}
    = patient_event.patient_event_type.name
  %td{:data => { :heading => "User"}}
    / TODO
  %td{:data => { :heading => "Modal"}}
    / TODO
  %td{:data => { :heading => "Description"}}
    %dl.accordion{data: {accordion: true} }
      %dd.accordion-navigation
        %a.fi-plus.fi-minus.toggle-notes{:id => "patient-event-notes-#{patient_event.id}", href: "#patient-event-notes-#{patient_event.id}"}
          = patient_event.description
        .content.toggle-content{:id => "patient-event-notes-#{patient_event.id}"} 
          = patient_event.notes
  %td{:data => { :heading => "Time"}}
    = patient_event.date_time.strftime("%d/%m/%Y")
  %td{:data => { :heading => "Time"}}
    = patient_event.date_time.strftime("%H:%M")
  %td{:data => { :heading => "Entered By"}}
    = patient_event.user_id
