%tr
  %td{:data => { :heading => "Added" }}
    = patient_event.created_at
  %td{:data => { :heading => "Event Type"}}
    = patient_event.patient_event_type.name
  %td{:data => { :heading => "User"}}
    / TODO
  %td{:data => { :heading => "Modal"}}
    / TODO
  %td{:data => { :heading => "Description"}}
    = patient_event.description
  %td{:data => { :heading => "Time"}}
    = patient_event.date_time
  %td{:data => { :heading => "Entered By"}}
    = patient_event.user_id
