.row
  %h1 Patient Events

.row
  %ul.no-bullet
    - @patient_events.each do |e|
      = field_set_tag do
        %li= "Event Date/Time : #{e.date_time}" 
        %li= "Entered by: #{e.user_id}" 
        %li= "Event Type: #{e.patient_event_type}" 
        %li= "Description: #{e.description}" 
        %li= "Notes: #{e.notes}" 

= content_for :secondary_nav do
  %li
    = link_to "Back to patient list", patients_path
