.row
  %h1 Patient Events

  %table.responsive
    %caption
      = link_to "All Patient Events", patient_patient_events_path(@patient)

    %thead
      %th
        Added
      %th
        Event Type
      %th
        User
      %th
        Modal
      %th
        Description
      %th
        Time
      %th
        Entered By

    %tbody
      = render @patient_events

= content_for :secondary_nav do

  %dd
    = link_to "Add a Patient Event for #{@patient.full_name}", new_patient_patient_event_path(@patient)
