.row
  %h5
    = "Add a New Patient Event for #{@patient.full_name}"
 
= render partial: "shared/errors", locals: { model: @patient_event }

= form_for [@patient, @patient_event], :method => :post do |f|

  .row
    =field_set_tag do
      %ul.no-bullet
        .large-6.columns
          = f.label :date_time, "Patient Event Date/Time"
          = f.datetime_select(:date_time, { start_year: (5.years.ago).year, end_year: Time.now.year, order: [:day, :month, :year]}, class: "datetime")

          %li
            = f.hidden_field :user_id

          %li
            = f.label :patient_event_type_id, "Patient Event Type"
            = f.collection_select(:patient_event_type_id, PatientEventType.all, :id, :name )

          %li
            = f.label :description, "Description"
            = f.text_field :description
        
        .large-6.columns 
          %li
            = f.label :notes, "Notes"
            = f.text_area(:notes, :cols => 50, :rows => 11)
        .row
          = link_to "Cancel", clinical_summary_patient_path(@patient), class: "button tiny left"

          = submit_tag "Save Patient Event", class: "button tiny right"

.clinical-summary
  = content_for :secondary_nav do  
    = render partial: "patients/clin_sum_sub_nav", locals: { model: @patient }

            