.row
  %h5 Edit a Bag Type

= render partial: "shared/errors", locals: { model: @bag_type }

.row
  .large-6.columns
    = form_for @bag_type, :as => :bag_type, :method => :put, :url => bag_type_path(@bag_type) do |bt|
      %ul.no-bullet

        = render partial: "bag_types/form", locals: { bt: bt }

      .row.button-padding
        = submit_tag "Update Bag Type", class: "button tiny right"
        = link_to "Cancel", bag_types_path, class: "button tiny left cancel"
