.row
  %h4 Manage CAPD Bag Types

.row
  = link_to "Create a new Bag Type", new_bag_type_path, :class => "button tiny"

.row
  %table.responsive
    %caption.title
      Bag Types
    %thead
      %th
        Manufacturer
      %th
        Bag description
      %th
        Volume of 1.36% glucose/liter (ml)
      %th
        Volume of 2.27% glucose/liter (ml)
      %th
        Volume of 3.86% glucose/liter (ml)
      %th
        Volume of amino acid soln/liter (ml)
      %th
        Volume of icodextrin soln (ml)
      %th
        Low glucose degradation product (GDP)
      %th
        Low sodium solution

    - @bag_types.each do |bt|
      %tbody
        %tr
          %td{ :data => { :heading => "Manufacturer" } }
            = bt.manufacturer
          %td{ :data => { :heading => "Bag description" } }
            = bt.description
          %td{ :data => { :heading => "1.36% glucose/liter (ml)" } }
            = bt.glucose_ml_percent_1_36
          %td{ :data => { :heading => "2.27% glucose/liter (ml)" } }
            = bt.glucose_ml_percent_2_27
          %td{ :data => { :heading => "3.86% glucose/liter (ml)" } }
            = bt.glucose_ml_percent_3_86
          %td{ :data => { :heading => "amino acid soln/liter (ml)" } }
            = bt.amino_acid_ml
          %td{ :data => { :heading => "icodextrin soln (ml)" } }
            = bt.icodextrin_acid_ml
          %td{ :data => { :heading => "Low glucose degradation product (GDP)" } }
            = yes_no(bt.low_glucose_degradation)
          %td{ :data => { :heading => "Low sodium solution" } }
            = yes_no(bt.low_sodium)
          %td{ :data => { :heading => "Action" } }

