.row
  %h3 Manage users

.row
  = link_to 'All', action: 'index'
  |
  = link_to 'Unapproved', action: 'unapproved'
  |
  = link_to 'Inactive', action: 'inactive'

.row
  %table
    %thead
      %th ID
      %th User
      %th Login
      %th Email
      %th Added
      %th Approved
      %th Options

    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.last_first
          %td= user.username
          %td= user.email
          %td= user.created_at
          %td= user.approved?
          %td= link_to 'Edit', edit_admin_user_path(user)
