.exit-site-form
  = e.hidden_field :id

  = e.hidden_field :patient_id

  = e.label :user_id
  = e.text_field :user_id

  = e.label :diagnosis_date
  = e.date_select(:diagnosis_date, {start_year: (120.years.ago).year, end_year: Time.now.year, order: [:day, :month, :year]}, class: "datetime")     
  
  = e.label :organism_1_id
  = e.collection_select :organism_1_id, OrganismCode.all, :id, :name, { :prompt => "Please Select Organism Found", include_blank: true, :class => "organism-select" }

  = e.label :organism_2_id
  = e.collection_select :organism_2_id, OrganismCode.all, :id, :name, { :prompt => "Please Select Organism Found", include_blank: true, :class => "organism-select" }

  = e.label :treatment
  = e.text_area :treatment, :cols => 50, :rows => 6

  = e.label :outcome
  = e.text_area :outcome, :cols => 50, :rows => 6

  = e.label :notes
  = e.text_area :notes, :cols => 50, :rows => 6

  = e.label :antibiotic_1_id
  = e.collection_select :antibiotic_1_id, Antibiotic.all, :id, :name, { :prompt => "Please select prescribed antibiotic" }

  = e.label :antibiotic_1_route, "Route (Antibiotic 1)"
  = e.select :antibiotic_1_route, medication_routes(e.object.class.name.constantize), { prompt: "Please select route of administration" } 

  = e.label :antibiotic_2_id
  = e.collection_select :antibiotic_2_id, Antibiotic.all, :id, :name, { :prompt => "Please select prescribed antibiotic" }

  = e.label :antibiotic_2_route, "Route (Antibiotic 2)"
  = e.select :antibiotic_2_route, medication_routes(e.object.class.name.constantize), { prompt: "Please select route of administration" } 

  = e.label :antibiotic_3_id
  = e.collection_select :antibiotic_3_id, Antibiotic.all, :id, :name, { :prompt => "Please select prescribed antibiotic" }

  = e.label :antibiotic_3_route, "Route (Antibiotic 3)"
  = e.select :antibiotic_3_route, medication_routes(e.object.class.name.constantize), { prompt: "Please select route of administration" } 

  = e.label :sensitivity
  = e.text_area :sensitivity, :cols => 50, :rows => 6

