.wide-screen
  .columns.large-12
    = render partial: "patients/patient_info_header", locals: { model: @patient }
    = render partial: "patients/mini_renal_profile", locals: { model: @patient }

    %h5 Update an Exit Site Infection

.row
  .large-12.columns
    = form_for [@patient, @exit_site_infection], :method => :put do |e|

      = field_set_tag do
        .row
          = render partial: "exit_site_infections/form", locals: { e: e }

        = submit_tag "Update Exit Site Infection", class: "button tiny right save"

        = link_to "Cancel", patient_exit_site_infection_path(@patient, @exit_site_infection.id), class: "button tiny left cancel"
