%nav.top-bar(data-topbar role = "navigation")
  %ul.title-area
    %li.name.has-dropdown.active
      %h1
        = link_to "Renalwarev2", patients_path, :title => "Home"

  - if user_signed_in?
    %section.top-bar-section
      = render partial: 'navigation/patient_admin'
      = render partial: 'navigation/patient_search'
      = render partial: 'navigation/sign_out'
      = render partial: 'navigation/users_admin'
      = render partial: 'navigation/renal_reg_codes_admin'
      = render partial: 'navigation/patients_admin'
      = render partial: 'navigation/renalware_admin'

