!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body
    #wrapper.big-wrapper

    = render partial: 'navigation/main'

    - flash.each do |name, msg|
      - if flash[name]
        .row{class: "flash-#{name}"}
          .alert-box.info.round{:data => {:alert => nil}}
            = msg
            <a href="#" class="close">&times;</a>

    .main-content

      = yield

    - if content_for? :secondary_nav

      %nav.sub-nav-container{data: {:"magellan-expedition" => "fixed"}}
        %dl.sub-nav{role: "menu"}
          %dt
          = content_for :secondary_nav
        .g-cb

    = javascript_include_tag "application"
